{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscription{% endblock %}

{% block body %}
    <h1>Formulaire de recensement</h1>
    <div class="row form-group">
        <div class="col-md-6 mt-3">
            <label for="">Nom </label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-6 mt-3">
            <label for="">Prenoms</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-6 mt-3">
            <label for="">Pseudonyme</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-6 mt-3">
            <label for="">Entreprise</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-6 mt-3">
            <label for="">Email</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-6 mt-3">
            <label for="">Telephone</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-6 mt-3">
            <label for="">Noms des artistes produits</label>
            <input type="text" class="form-control" name="tags">
        </div>
        <div class="col-md-6 mt-3">
            <label for="">Titre des albums produits</label>
            <input type="text" class="form-control" name="albums">
        </div>
        <div class="col-md-12 mt-3">
            <label for="">Expliquez, pourquoi voulez-vous intégrer l'APRODEMCI? </label>
            <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
        </div>
        <div class="col-md-12 mt-5">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    En cochant cette case vous acceptez de payer le droit de membre au coût de 10.000 FCFA
                </label>
            </div>
        </div>
        <div class="col-md-12 d-grid gap-2 mt-5">
            <button class="btn btn-primary btn-lg">envoyer</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	<script>
        // The DOM element you wish to replace with Tagify
        var input = document.querySelector('input[name=tags]');
        var input2 = document.querySelector('input[name=albums]');

        // initialize Tagify on the above input node reference
        new Tagify(input)
        new Tagify(input2)
	</script>
{% endblock %}
