{% extends 'base.html.twig' %}

{% block title %}Enregistrement des utilisateurs{% endblock %}

{% block body %}
    <h1>Enregistrement des utilisateurs</h1>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ include('admin_user/_form.html.twig') }}

{% endblock %}
